---
import { site } from '../config/site';
---

<section>
  <div class="container">
    <div class="band">
      <div class="band-grid">
        <div>
          <h2>Masz zatkany odpływ w Ząbkach?</h2>
          <p>Najprościej zadzwoń i opisz objawy. Powiem, co może być przyczyną i czy wygląda to na zator miejscowy, czy problem głębiej w instalacji.</p>
        </div>
        <a class="btn btn-primary" href={`tel:${site.phoneTel}`}>☎ {site.phone}</a>
      </div>
    </div>
  </div>
</section>
